@import "./color_schemes/dark";

$link-color: #ffa73b;
$nav-child-link-color: #ffb861;
$sidebar-color: #333333;
$body-background-color: #222222;
$body-text-color: #e6e6e6;
$body-heading-color: #FFFFFF;
$content-width: 950px;
$code-background-color: #2b532d;